:root{
    /* Colors */
    --color-beige: #c4a47c;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-brown: #604829;
    --color-grey : #ACACAC;
    /* Images */
    --img-logo          : url("./assets/logo.ico");
    --img-cafeteria     : url("./assets/cafeteria.jpg");
    --img-parallax-01   : url("./assets/parallax-imagem1.png");
    --img-parallax-02   : url("./assets/parallax-imagem2.jpg");
    --img-parallax-03   : url("./assets/parallax-imagem3.jpg");
    --img-parallax-04   : url("./assets/parallax-imagem4.png");
    --up-arrow          : url("./assets/seta-para-cima.png");
    /*Sizes  */
        /* top */
        --logo-width: 56px;
        --logo-height: 56px;


    --pc-fifteen        : 15%;
    --pc-thirty-five   : 35%;
    --pc-forty-five    : 45%;
    --pc-one-hundred   : 100%;

    --px-one-hundred   : 100px;

    --vh-one-hundred   : 100vh;
    --px-zero-twenty   : 0 20px;
    --px-1024          : 1024px;

    --zero             : 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.fraunces-font{
    font-family: 'Fraunces', serif;
}
.lato-font{
    font-family: 'lato', sans-serif;
}
.oswald-font{
    font-family: 'oswald', sans-serif;
}

.header{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    background-color: #604829;
    width: 100%;
    right: 0;
    z-index: 1;
}
.logo{
    position: relative;
        left: 15%;
        background-image: var(--img-logo);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: var(--logo-height);
        width: var(--logo-width);
    }
    .links{
        position: relative;
        right: var(--pc-fifteen);
        top: var(--pc-thirty-five);
        
    }
    .links a{
        color: var(--color-beige);
        text-decoration: none;
        margin: 0px 5px;
        text-shadow: 2px 5px 1px black;
    }
.banner
{
    position: relative;
    height: 100vh;
    background-image: var(--img-parallax-01);
    background-attachment: fixed;
    color: var(--color-white)
}
    .main-title{
        position: relative;
        top:45%;
        left: 0;
        right: 0;
        font-size: 80px;
        font-weight: 100;
        text-align: center;
    }
.info-art{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

padding: 80px 0px;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
height: 50vh;
width: 100%;
}
.info-art p {
    max-width: 1024px;
}
    .parallax-01{
        background-image: var(--img-parallax-02);
    }
    .parallax-02{
        background-image: var(--img-parallax-03);
    }
    .parallax-03{
        background-image: var(--img-parallax-04);

    }
    .info-titles{
       
        color: var(--color-beige);
        font-family: 'oswald', sans-serif; 
    }
    .info-titles-h3{
        color: var(--color-white);
        font-family: 'oswald', sans-serif; 
        background-color:  var(--color-brown);
        text-align:center;
        width: 500px;
        padding: 10px;
    }
    .text-content{
        color: var(--color-grey);
    }
.contact{
    display: flex;
    justify-content: center;
    position:relative;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.contact p , .contact h2 {
    
    color:white;
    background-color: var(--color-brown);
    width: 500px;
    padding: 10px;
    text-align: center;
}
.contact h2{
    position:absolute;
    top:5%;
}
.iframe-adress{
    position:absolute;
    top:15%;
    width: 1024px;
    height: 450px;

}
.contact .contacts{
    position:absolute;
    bottom: 8%;
}
.contact h2{

}
.schedules
{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    height: 85vh;
    background-image: var(--img-cafeteria);
}
.schedules h2{
    padding:50px;
    font-weight: 100;
}
.schedules ul{
    list-style: none;
    width: 60%;
    /* border: 1px solid white; */
    margin: 50px;
    line-height: 35px;
}
.schedules ul li{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}
.schedules ul li h3{
    width: 60px;
    justify-self: flex-start;
}
.schedules span, .footer span{
    color: var(--color-beige)
}
.schedules span{
   
}
.schedules-list li div{
    width: 70%;
    height: 1px;
    align-self:center ;
    background-color: #acacac;
}
.schedules p {
    color: var(--color-grey);
}

.up-arrow
{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 64px;
    height: 64px;
    background-image: var(--up-arrow);

    z-index: 1;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:white;
    background-color: #000000;
    padding: 20px;
}
