:root{
    --beige: #c4a47c;
    --white: #ffffff;
    --black: #000000;
    --brown: #604829;
    --grey : #ACACAC;
     
}
.fixed-pos{
    position: fixed;
}
.fraunces-font{
    font-family: 'Fraunces', serif;
}
.lato-font{
    font-family: 'lato', sans-serif;
}
.oswald-font{
    font-family: 'oswald', sans-serif;
}